body, a, p {
    font-family: arial,sans-serif;
}

div, input {
	display: block;
}

#header {
	position: absolute;
	/*top: -295px;*/
	right: 0;
	width: 100%;
	font-size: 13px;
}

#about_store {
	position: absolute;
	margin: 15px 0 0 10px;
}

#about_store a {
	display: inline-block;
	padding-left: 15px;
	color: #000;
	opacity: 0.75;
}

#gmail_images {
	position: absolute;
	margin: 15px 0 0 10px;
	right: 165px;
}

#gmail_images a {
	display: inline-block;
	padding-left: 12px;
	color: #000;
	opacity: 0.75;
}

.icons {
	position: absolute;
	margin: 10px 0 0 10px;
	right: 15px;
}


#square {
	position: absolute;
	margin: 3px 0 0 10px;
	right: 110px;
	width: 21px;
    height: 21px;
    opacity: 0.55;
}

#notification {
	position: absolute;
	margin: 3px 0 0 10px;
	right: 65px;
	width: 20px;
    height: 20px;
    opacity: 0.55;
    padding-left: 15px;
}

#button {
	position: absolute;
	margin: -3px 0 0 10px;
	right: 15px;
	border: none;
    border-radius: 50px;
    width: 32px;
    height: 32px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #609;
}

.g_logo {
	height: 233px;
    /*margin-top: 89px;*/
    display: block;
    text-align: -webkit-center;
}

#logo {
	height: 92px;
	width: 272px;
	padding-top: 190px;
}

.search2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 78px;
    position: relative;
    z-index: 5;
    font: 16px arial,sans-serif;
    height: 44px;
    width: 584px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    padding: 12px 24px 12px 24px;
    background-image: url('"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC"');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.search {
	margin-left: auto;
    margin-right: auto;
    margin-top: 78px;
    height: 44px;
    width: 584px;
    box-sizing: border-box;
	/*width: 45vw;*/
  	padding: 8px;
  	padding: 12px 24px 12px 15px;
  	font: 16px arial,sans-serif;
  	border: 0.1px solid #d9d9d9;
  	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACrElEQVR42u2Xz2sTQRSAX8VSb1K8iNqKooJH2Ux6Ksn+iPQqxZMIehJB0do/IMhmQWsvHr2KSEGk0tSLIoWIYNUKij20F2/N7iaUZnYT0kYzzhMKs0HDJiTdLcwHDwKZSd63781LBiQSSW9JZdkhzfKm1Rz9mjZp/W9YdEU3vXv4HsQZ40FtNG36q5rls//Ej4tmbSS2T15Mvp3ExOPmEMQNbBtMMEyoljcFcQN7PqyAlqNfIG7gYQ0tYNIaxA1MrJPY3wImbUqBKAXSFv0tBSIVMOkvKRDtGKWN/T6FdqRAxFNoWwpEPIXqUqBT6ALU/UVgu8GW4GD3f6f9TRDYNJTDrk7YbtiqUumHwIYoUJuHERDAS0r4CvgFECgbY+cFAR7KT+g1POmCKFDNw6WggHc3fBtVb4CAoyauBgXIG+g1Xh5mRAGah6cggBd11fK/h7lOprIs0H6uRl6KAo5O7kOv4QmPiwJ4Jqqv4FiwCtXjvD2+tRmfK6kZ/ygI2HritK0rDVGgrClJ6DWMwYC/AGuCBMYcIC2V0CzvjmbRz3j3xUjn6CfeYreUJ2wQkGD75INPX1mFfsEFrrcIYCvdhC4paWQakxajpJMr0C9YFg54i7AsClRmh9/xnr0NHcInzZStk2aLwAcGMAD9pPIazvFKVDD5rdnhJeHLX5RTyRPQHpz5o66emMc9wdlPtvA8wF7Aq2BUHh1525qEo5JtR1WeOXpickO9cJIpyuD6xJmhYiZ5ytWSl3mlnuOaf+2zDaLDXmJrSgZ/MYVEugo+gSh+FkSBa4yd5Ul87DZ5XpFl/AyIEjzYjkau8WqshU2cr13HPbgX4gJOD97n465GZlyVvC9mSKloKI2iTnbwNT+gBX54H+IaXAtxJzE3ycSAFqSAFJACUkAikXD+AHj5/wx2o5osAAAAAElFTkSuQmCC) no-repeat;
  	background-position: 97%;
  	background-size: 24px;
  	background-color: white;
  	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 6px 0 rgba(0, 0, 0, 0.2);
   	outline: none;
   	border: none;
}

.search:hover {
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.search_btns {
	padding-top: 20px;
	display: block;
    text-align: -webkit-center;
}

#google_search, #ifl {
	height: 36px;
    line-height: 27px;
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 1.5px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    outline: none;
}

#google_search:hover, #ifl:hover {
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}





















